body{
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
}
.App {
  text-align: center;
  
  
}
#rightBut{
  position: fixed;
  height:8%;
  width: auto;
  right:2%;
  top:45%;
  color: #e88c00;
}
#leftBut{
  position: fixed;
  height:8%;
  width: auto;
  left:2%;
  top:45%;
  color: #e88c00;
}
.pageBut{
  position: fixed;
  top:16%;
  height: 6%;
  width: auto;
  color: #e88c00;
}
#productBut{
left: 17%;
}
#articlesBut{
left:33%
}
#homeBut{
left:49%;
color:#e88c00;
}
#aboutBut{
left:65%;
}
#contactBut{
left:81%;
}
#mainInsert{
  position: absolute;
    left:10%;
    width:80%;
    height: 100%;
    top:22%;
}
.highlightHeadings{
  color:#e88c00;
}